.cabeçalho-itens{
    background-color: blue;
    color: antiquewhite;
    display: flex;
    justify-content: aspace-around;
}

.lista{
    display: inline-block;
}
    .cabeçalho-imagem{
        width: 20%;
    }