* {
    margin: 0;
padding: 0;
}


.cabeçalho-itens{
    background-color: blue;
    color: white;
    display: flex;
  justify-content:space-around;
   align-items:center;
   padding: 24px;
}

    .cabeçalho-imagem{
        width: 20%;
    }
    .itens{
        display: inline-block;
        margin: 0 16px;
        font-size: 24px;
    }