.cabeçalho-itens{
    background-color: blue;
    color: antiquewhite;
    display: flex;
    justify-content: aspace-around;
    align-items: center;
    padding: 24px 0;
}

.lista{
    display: inline-block;
    margin: 0 16px;
}

    .cabeçalho-imagem{
        width: 20%;
    }
    *{ 
        margin:  0;
        padding: 0;
    }